<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457439302188-q606grgopcsb1idmrlniv17v70d0k91o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457439302188-q606grgopcsb1idmrlniv17v70d0k91o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457439302188-atspi0pjmanut46a1857ngiaajugdbm1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXGieMy7rwrxjcveeyCJfOtfTLy97y1Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>457439302188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.route65.route65</string>
	<key>PROJECT_ID</key>
	<string>route-65-app</string>
	<key>STORAGE_BUCKET</key>
	<string>route-65-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457439302188:ios:3b02fb0c0b9fd530bf3789</string>
</dict>
</plist>